<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        let cart = [
        {
            title: 'a',
            a: 'a',
            b: 'b',
            c: 'c'
        }
        ];
        let obj = {
            title: 'a',
            a: 'a',
            b: 'b',
            c: 'c'
        }
        let index = cart.find(e => {
            return e.title === obj.title &&
            e.a === obj.a && e.b === obj.b && e.c === obj.c
        })
        if (index > 0) {
            zhaodao
        }
         else {
             mei
         }
        </script>
</body>
</html>